<h1>Este site foi desenvolvido por Otávio Larrosa.</h1>


<h2>Formas de Contato</h2>
<p class="text-info">E-mail: <a href="mailto:otavio.larrosa@outlook.com">otaviolarrosa@outlook.com</a></p>
<p class="text-info">Facebook: <a href="http://facebook.com/otavio.larrosa1">Otávio Larrosa</a></p>
<p class="text-info">Twitter: <a href="http://twitter.com/otaviolarrosa">Otávio Larrosa</a></p>
<br>
<br>
<br>

<p>
    Sou de Maringá, mas colocar o endereço é meio zuado, então manda um e-mail lá :-)
</p>