@{
    ViewData["Title"] = "Home Page";
}

<div class="page-header" id="banner">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-4">
        <div class="list-group table-of-contents">
            <a class="list-group-item" href="/Calibrador/Index">Calibrar Sua Vidraria</a>
            <a class="list-group-item" href="/Sobre/Index">Sobre o Desenvolvedor</a>
        </div>
        </div>
    </div>
</div>
